body {
  /* background-image: url('https://a.pinatafarm.com/1702x1280/5a102e3225/stonks.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
}

.grid {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: blue;
  color: white;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #333;
  color: white;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
